<div class="container">
  <div *ngIf="loadingSpinner" class="d-flex justify-content-center">
    <span class="spinner-border" role="status" aria-hidden="true"></span>
  </div>
  <div *ngIf="!loadingSpinner" class="row d-flex justify-content-center">
    <div class="col-md-12 card mb-0 border-bottom-0 justify-content-center">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Description</strong>
      </div>
      <div class="card-body text-capitalize text-center">
        {{ transaction.description }}
      </div>
    </div>
    <div class="col-md-6 card border-right-0 border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Transaction Type</strong>
      </div>
      <div
        [ngClass]="{
          'card-body': true,
          'text-capitalize': true,
          'text-center': true,
          'text-success': transaction.type == 'credit',
          'text-danger': transaction.type == 'debit'
        }"
      >
        {{ transaction.type }}
      </div>
    </div>
    <div class="col-md-6 card border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Reason</strong>
      </div>
      <div class="card-body text-capitalize text-center">
        {{ transaction.reason }}
      </div>
    </div>
    <div class="col-md-6 card border-right-0 border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Amount</strong>
      </div>
      <div class="card-body text-center">{{ transaction.amount }}</div>
    </div>
    <div class="col-md-6 card border-right-0 border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Shopkeeper</strong>
      </div>
      <div class="card-body text-capitalize text-center">
        {{ transaction.shopkeeperName }}
      </div>
    </div>
    <div class="col-md-6 card border-right-0 border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>User</strong>
      </div>
      <div class="card-body text-capitalize text-center">
        {{ transaction.userName }}
      </div>
    </div>
    <div class="col-md-6 card border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Date</strong>
      </div>
      <div class="card-body text-center">
        {{ transaction.createdAt.toDate() | date }}
      </div>
    </div>
  </div>
</div>
