<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'PAGE_SHOPKEEPER_TRANSACTIONS_TITLE' | translate}}</ion-title>
    <ion-buttons slot="end" class="ion-margin-end">
      <app-spinner *ngIf="loading"></app-spinner>
      <p class="ion-margin-start"><strong>{{'PAGE_USER_HOME_CREDITS_LABEL' | translate}}: </strong>{{ totalCredit }}</p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  

  <ion-toolbar>
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="all"> {{'PAGE_SHOPKEEPER_TRANSACTION_ALL_BUTTON' | translate}} </ion-segment-button>
      <ion-segment-button value="credit"> {{'PAGE_SHOPKEEPER_TRANSACTION_CREDIT_BUTTON' | translate}} </ion-segment-button>
      <ion-segment-button value="debit"> {{'PAGE_SHOPKEEPER_TRANSACTION_DEBIT_BUTTON' | translate}} </ion-segment-button>
      <ion-segment-button value="refill"> {{'PAGE_SHOPKEEPER_TRANSACTION_REFILL_BUTTON' | translate}} </ion-segment-button>
      <ion-segment-button value="buy"> {{'PAGE_SHOPKEEPER_TRANSACTION_BUY_LABEL' | translate}} </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'all'">
      <p
        class="ion-padding"
        *ngIf="allTransactions && allTransactions.length === 0"
      >
      {{'PAGE_USER_TRANSACTION_NO_TRANSACTIONS' | translate}}
      </p>
      <ion-item [style.border-right-color]="transaction.shopColor" *ngFor="let transaction of allTransactions" (click)="handleTransactionClick(transaction)">
        <ion-avatar >
          <ion-icon
            ios="add-circle-outline"
            md="add-circle"
            color="success"
            *ngIf="transaction.type === 'credit'"
          ></ion-icon>
          <ion-icon
            ios="remove-circle-outline"
            md="remove-circle"
            color="danger"
            *ngIf="transaction.type === 'debit'"
          ></ion-icon>
        </ion-avatar>
        <ion-avatar>
          <ion-text  color="primary">{{transaction.amount}} </ion-text>
        </ion-avatar>
        <ion-label>
          <!-- <h4>
            <ion-text color="primary" class="ion-text-capitalize"
              >{{transaction.type}}</ion-text
            >
          </h4> -->
          <p *ngIf="transaction.description=='Buy'">{{"PAGE_TRANSACTION_BOTTLE_BUY" | translate}}</p>
          <p *ngIf="transaction.description=='Bottle Refill'">{{"PAGE_TRANSACTION_BOTTLE_REFILL" | translate}}</p>
          <p *ngIf="transaction.description=='Fund Transfer'">{{"PAGE_TRANSACTION_FUNDS_TRANSFER" | translate}}</p>
          <p *ngIf="transaction.description=='Bottle Registeration'">{{"PAGE_TRANSACTION_BOTTLE_REGISTERATION" | translate}}</p>
          <p *ngIf="transaction.description=='Shop Creation'">{{"PAGE_TRANSACTION_SHOP_CREATION" | translate}}</p>
          <p *ngIf="transaction.description=='Invitee'">{{"PAGE_TRANSACTION_INVITEE_BONUS_CREDIT" | translate}}</p>
          <p *ngIf="transaction.description=='Invited'">{{"PAGE_TRANSACTION_INVITED_BONUS_CREDIT" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Phone'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_PHONE" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Address'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_ADDRESS" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Date of Birth'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_DOB" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Last Name'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_LAST_NAME" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion First Name'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_FIRST_NAME" | translate}}</p>          
          <p *ngIf="transaction.shopName!=null">{{transaction.shopName}}</p>
          <p>
            <sub>
              <ion-text
                color="success"
                *ngIf="transaction.status === transactionStatus.COMPLETE"
                >{{"PAGE_SHOPKEEPER_TRANSACTION_COMPELETED_LABEL" | translate}}</ion-text
              >
              <ion-text 
                color="warning"
                *ngIf="transaction.status === transactionStatus.PENDING"
                >{{"PAGE_SHOPKEEPER_TRANSACTION_PENDING_LABEL" | translate}}</ion-text
              >
              <ion-text 
                color="danger"
                *ngIf="transaction.status === transactionStatus.CANCELED"
                >{{"PAGE_SHOPKEEPER_TRANSACTION_REJECTED_LABEL" | translate}}</ion-text
              >
              <ion-text
                color="danger"
                *ngIf="transaction.status === transactionStatus.REJECTED"
                >{{"PAGE_SHOPKEEPER_TRANSACTION_REJECTED_LABEL" | translate}}</ion-text
              >
            </sub>
            
          </p>
        </ion-label>
        <!-- <ion-label slot="end" class="ion-text-right">
          <h2><ion-text color="primary">{{transaction.amount}}</ion-text></h2>
         
        </ion-label> -->
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'credit'">
      <p
        class="ion-padding"
        *ngIf="creditTransactions && creditTransactions.length === 0"
      >
       {{"NO_TRANSACTIONS" | translate}}
      </p>
      <ion-item [style.border-right-color]="transaction.shopColor" *ngFor="let transaction of creditTransactions" (click)="handleTransactionClick(transaction)">
        <ion-avatar >
          <ion-icon
            ios="add-circle-outline"
            md="add-circle"
            color="success"
          ></ion-icon>
        </ion-avatar>
        <ion-avatar>
          <ion-text  color="primary">{{transaction.amount}} </ion-text>
        </ion-avatar>
        <ion-label>
          <!-- <h4>
            <ion-text color="primary" class="ion-text-capitalize"
              >{{transaction.type}}</ion-text
            >
          </h4> -->
          <p *ngIf="transaction.description=='Buy'">{{"PAGE_TRANSACTION_BOTTLE_BUY" | translate}}</p>
          <p *ngIf="transaction.description=='Bottle Refill'">{{"PAGE_TRANSACTION_BOTTLE_REFILL" | translate}}</p>
          <p *ngIf="transaction.description=='Fund Transfer'">{{"PAGE_TRANSACTION_FUNDS_TRANSFER" | translate}}</p>
          <p *ngIf="transaction.description=='Bottle Registeration'">{{"PAGE_TRANSACTION_BOTTLE_REGISTERATION" | translate}}</p>
          <p *ngIf="transaction.description=='Shop Creation'">{{"PAGE_TRANSACTION_SHOP_CREATION" | translate}}</p>
          <p *ngIf="transaction.description=='Invitee'">{{"PAGE_TRANSACTION_INVITEE_BONUS_CREDIT" | translate}}</p>
          <p *ngIf="transaction.description=='Invited'">{{"PAGE_TRANSACTION_INVITED_BONUS_CREDIT" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Phone'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_PHONE" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Address'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_ADDRESS" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Date of Birth'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_DOB" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Last Name'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_LAST_NAME" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion First Name'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_FIRST_NAME" | translate}}</p>
          <p *ngIf="transaction.shopName!=null">{{transaction.shopName}}</p>
          <p>
            <sub>
              <ion-text
                color="success"
                *ngIf="transaction.status === transactionStatus.COMPLETE"
                >{{transaction.status}}</ion-text
              >
              <ion-text
                color="warning"
                *ngIf="transaction.status === transactionStatus.PENDING"
                >{{transaction.status}}</ion-text
              >
              <ion-text
                color="danger"
                *ngIf="transaction.status === transactionStatus.CANCELED"
                >{{transaction.status}}</ion-text
              >
              <ion-text
                color="danger"
                *ngIf="transaction.status === transactionStatus.REJECTED"
                >{{transaction.status}}</ion-text
              >
            </sub>
          </p>
        </ion-label>
        <!-- <ion-label slot="end" class="ion-text-right">
          <h2><ion-text color="primary">{{transaction.amount}}</ion-text></h2>
       
        </ion-label> -->
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'debit'">
      <p
        class="ion-padding"
        *ngIf="debitTransactions && debitTransactions.length === 0"
      >
        {{"NO_TRANSACTIONS" | translate}}
      </p>
      <ion-item [style.border-right-color]="transaction.shopColor" *ngFor="let transaction of debitTransactions" (click)="handleTransactionClick(transaction)">
        <ion-avatar >
          <ion-icon
            ios="remove-circle-outline"
            md="remove-circle"
            color="danger"
          ></ion-icon>
        </ion-avatar>
        <ion-avatar>
          <ion-text  color="primary">{{transaction.amount}} </ion-text>
        </ion-avatar>
        <ion-label>
          <!-- <h4>
            <ion-text color="primary" class="ion-text-capitalize"
              >{{transaction.type}}</ion-text
            >
          </h4> -->
          <p *ngIf="transaction.description=='Buy'">{{"PAGE_TRANSACTION_BOTTLE_BUY" | translate}}</p>
          <p *ngIf="transaction.description=='Bottle Refill'">{{"PAGE_TRANSACTION_BOTTLE_REFILL" | translate}}</p>
          <p *ngIf="transaction.description=='Fund Transfer'">{{"PAGE_TRANSACTION_FUNDS_TRANSFER" | translate}}</p>
          <p *ngIf="transaction.description=='Bottle Registeration'">{{"PAGE_TRANSACTION_BOTTLE_REGISTERATION" | translate}}</p>
          <p *ngIf="transaction.description=='Shop Creation'">{{"PAGE_TRANSACTION_SHOP_CREATION" | translate}}</p>
          <p *ngIf="transaction.description=='Invitee'">{{"PAGE_TRANSACTION_INVITEE_BONUS_CREDIT" | translate}}</p>
          <p *ngIf="transaction.description=='Invited'">{{"PAGE_TRANSACTION_INVITED_BONUS_CREDIT" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Phone'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_PHONE" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Address'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_ADDRESS" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Date of Birth'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_DOB" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Last Name'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_LAST_NAME" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion First Name'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_FIRST_NAME" | translate}}</p>
          <p *ngIf="transaction.shopName!=null">{{transaction.shopName}}</p>
          <p>
            <sub>
              <ion-text
                color="success"
                *ngIf="transaction.status === transactionStatus.COMPLETE"
                >{{transaction.status}}</ion-text
              >
              <ion-text
                color="warning"
                *ngIf="transaction.status === transactionStatus.PENDING"
                >{{transaction.status}}</ion-text
              >
              <ion-text
                color="danger"
                *ngIf="transaction.status === transactionStatus.CANCELED"
                >{{transaction.status}}</ion-text
              >
              <ion-text
                color="danger"
                *ngIf="transaction.status === transactionStatus.REJECTED"
                >{{transaction.status}}</ion-text
              >
            </sub>
          </p>
        </ion-label>
        <!-- <ion-label slot="end" class="ion-text-right">
          <h2><ion-text color="primary">{{transaction.amount}}</ion-text></h2>
          <p>Credits</p>
        </ion-label> -->
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'buy'">
      <p
        class="ion-padding"
        *ngIf="buyTransactions && buyTransactions.length === 0"
      >
       {{"NO_TRANSACTIONS" | translate}}
      </p>
      <ion-item [style.border-right-color]="transaction.shopColor" *ngFor="let transaction of buyTransactions" (click)="handleTransactionClick(transaction)">
        <ion-avatar>
          <ion-icon
            ios="remove-circle-outline"
            md="remove-circle"
            color="danger"
          ></ion-icon>
        </ion-avatar>
        <ion-avatar>
          <ion-text  color="primary">{{transaction.amount}} </ion-text>
        </ion-avatar>
        <ion-label>
          <!-- <h4>
            <ion-text color="primary" class="ion-text-capitalize"
              >{{transaction.type}}</ion-text
            >
          </h4> -->
          <p *ngIf="transaction.description=='Buy'">{{"PAGE_TRANSACTION_BOTTLE_BUY" | translate}}</p>
          <p *ngIf="transaction.description=='Bottle Refill'">{{"PAGE_TRANSACTION_BOTTLE_REFILL" | translate}}</p>
          <p *ngIf="transaction.description=='Fund Transfer'">{{"PAGE_TRANSACTION_FUNDS_TRANSFER" | translate}}</p>
          <p *ngIf="transaction.description=='Bottle Registeration'">{{"PAGE_TRANSACTION_BOTTLE_REGISTERATION" | translate}}</p>
          <p *ngIf="transaction.description=='Shop Creation'">{{"PAGE_TRANSACTION_SHOP_CREATION" | translate}}</p>
          <p *ngIf="transaction.description=='Invitee'">{{"PAGE_TRANSACTION_INVITEE_BONUS_CREDIT" | translate}}</p>
          <p *ngIf="transaction.description=='Invited'">{{"PAGE_TRANSACTION_INVITED_BONUS_CREDIT" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Phone'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_PHONE" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Address'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_ADDRESS" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Date of Birth'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_DOB" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion Last Name'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_LAST_NAME" | translate}}</p>
          <p *ngIf="transaction.description=='Profile Completion First Name'">{{"PAGE_TRANSACTION_PROFILE_COMPLETION_FIRST_NAME" | translate}}</p>
          <p *ngIf="transaction.shopName!=null">{{transaction.shopName}}</p>
          <p>
            <sub>
              <ion-text
                color="success"
                *ngIf="transaction.status === transactionStatus.COMPLETE"
                >{{transaction.status}}</ion-text
              >
              <ion-text
                color="warning"
                *ngIf="transaction.status === transactionStatus.PENDING"
                >{{transaction.status}}</ion-text
              >
              <ion-text
                color="danger"
                *ngIf="transaction.status === transactionStatus.CANCELED"
                >{{transaction.status}}</ion-text
              >
              <ion-text
                color="danger"
                *ngIf="transaction.status === transactionStatus.REJECTED"
                >{{transaction.status}}</ion-text
              >
            </sub>
          </p>
        </ion-label>
        <!-- <ion-label slot="end" class="ion-text-right">
          <h2><ion-text color="primary">{{transaction.amount}}</ion-text></h2>
       
        </ion-label> -->
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'refill'">
      <p
        class="ion-padding"
        *ngIf="refillTransactions && refillTransactions.length === 0"
      >
        {{"PAGE_USER_HOME_NO_REFILLS_LABEL" | translate}}
      </p>
      <ion-item [style.border-right-color]="transaction.shopColor" lines="none" *ngFor="let transaction of refillTransactions" (click)="handleTransactionClick(transaction)">
        <ion-avatar >
          <ion-img
            [src]="transaction.userDisplayPhoto"
            *ngIf="transaction.userDisplayPhoto"
          ></ion-img>
          <img
            src="/assets/img/profile-image-placeholder.png"
            alt="Photo"
            *ngIf="!transaction.userDisplayPhoto"
          />
        </ion-avatar>
        <ion-avatar>
          <ion-text  color="primary">{{transaction.amount}} </ion-text>
        </ion-avatar>
        <ion-label>
          <h4>
            <ion-text color="primary" class="ion-text-capitalize"
              >{{transaction.shopName}} </ion-text
            >
          </h4>
          <p *ngIf="transaction.userName">{{transaction.userName}}</p>
          <p *ngIf="!transaction.userName">Full Name</p>
        </ion-label>
        <!-- <ion-label slot="end" class="ion-text-center">
          <h3>{{transaction.amount}} Credits</h3>
        </ion-label> -->
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/shopkeeper-tabs/add']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <div  *ngIf="!emailVerified">
    <p><ion-label>Verify your email first</ion-label></p>
    <ion-button  (click) = "email()"> <a href="mailto:test@test.com"></a>Open Mail</ion-button>
  </div> -->
</ion-content>
