<ion-content class="ion-padding">
  <div class="container">
    
    <div class="top-content img-text">
      <img src="/assets/img/logo.png" alt="Logo" />
      <h4>{{"PAGE_FORGOT_PASSWORD_HEADING" | translate}}</h4>
      <ion-text color="medium">
        <sub>
         {{"PAGE_FORGOT_PASSWORD_DISCRIPTION" | translate}}
        </sub>
      </ion-text>
    </div>
    <div class="bottom-content btns">
      <form [formGroup]="form" (keyup.enter)="onSubmit()" #formDir="ngForm">
        <ion-list
          lines="full"
          class="ion-no-margin ion-no-padding"
        >
          <ion-item class="ion-margin-top ion-margin-bottom">
            <ion-icon
              ios="mail-outline"
              md="mail"
              slot="start"
              color="primary"
              class="ion-align-self-center"
            ></ion-icon>
            <ion-input
              required
              type="email"
              placeholder="{{'PAGE_FORGOT_PASSWORD_EMAIL_PLACEHOLDER' | translate}}"
              formControlName="email"
            ></ion-input>
          </ion-item>
  
          <div *ngIf="email.invalid && (email.touched)">
            <ion-text color="danger" *ngIf="email.errors.required">
              <sub>{{"PAGE_USER_PROFILE_EMAIL_REQUIRED_ERROR_MSG" | translate}}</sub>
            </ion-text>
            <ion-text color="danger" *ngIf="email.errors.pattern">
              <sub>{{'PAGE_LOGIN_ERROR_MSG_EMAIL_INVALID' | translate}}</sub>
            </ion-text>
          </div>
        </ion-list>
  
        <ion-button *ngIf="!emailSend"
          fill="solid"
          shape="round"
          expand="block"
          (click)="onSubmit()"
          class="ion-margin-bottom"
          [disabled]="form.invalid"
        >
          {{"PAGE_FORGOT_PASSWORD_SEND_BUTTON" | translate}}
        </ion-button>
      </form>
      <div *ngIf="emailSend">
      <ion-text color="medium">
      <p><sub>{{"PAGE_VERFIY_EMAIL_EMAIL_RECEIVE" | translate}}</sub></p>
    </ion-text>
    <div *ngIf="showTimer">
      <ion-text color="medium">
        <p><sub>{{"PAGE_VERFIY_EMAIL_WAIT_RESEND" | translate}}</sub></p>
      </ion-text>
      <ion-text color="primary"><p>{{timeLeftFormated}}</p> </ion-text>
    </div>
    <ion-button *ngIf="!showTimer"
      fill="solid"
      expand="block"
      type="button"
      class="ion-margin-bottom"
      [disabled]="disableResend"
      (click)="resendEmail()"
    >
    {{"PAGE_VERFIY_EMAIL_RESEND" | translate}}
    </ion-button>
  </div>
      <div class="ion-text-center">
        <a [routerLink]="['/auth/login']">{{"PAGE_FORGOT_PASSWORD_LOGIN_BUTTON" | translate}}</a>
      </div>
    </div>
  </div>
</ion-content>

<!-- <ion-content class="ion-padding">
  <div class="fullheight xc">
    <div class="ion-text-center ion-margin-bottom">
      <img src="/assets/img/logo.png" alt="Logo" />
      <h5>Get back your Account</h5>
    </div>
    <ion-text color="medium">
      <sub>
        Please enter your email if your email exists with us you will receive an
        email with instructions to reset your password.
      </sub>
    </ion-text>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" #formDir="ngForm">
      <ion-list
        lines="full"
        class="ion-no-margin ion-no-padding"
      >
        <ion-item class="ion-margin-top ion-margin-bottom">
          <ion-icon
            ios="mail-outline"
            md="mail"
            slot="start"
            color="primary"
            class="ion-align-self-center"
          ></ion-icon>
          <ion-input
            required
            type="text"
            placeholder="Email"
            formControlName="email"
          ></ion-input>
        </ion-item>

        <div *ngIf="email.invalid && (email.touched)">
          <ion-text color="danger" *ngIf="email.errors.required">
            <sub>Email is required.</sub>
          </ion-text>
          <ion-text color="danger" *ngIf="email.errors.pattern">
            <sub>Email is not valid.</sub>
          </ion-text>
        </div>
      </ion-list>

      <ion-button
        fill="solid"
        expand="block"
        type="submit"
        class="ion-margin-bottom"
        [disabled]="form.invalid"
      >
        Send
      </ion-button>
    </form>

    <div class="ion-text-center">
      <a [routerLink]="['/login']">Go to Login</a>
    </div>
  </div>
</ion-content> -->
