<div class="container">
  <div *ngIf="loadingSpinner" class="d-flex justify-content-center">
    <span class="spinner-border" role="status" aria-hidden="true"></span>
  </div>
  <div *ngIf="!loadingSpinner" class="row d-flex justify-content-center">
    <div class="col-md-6 card border-right-0 border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Name</strong>
      </div>
      <div class="card-body text-capitalize text-center">
        {{ shop.name }}
      </div>
    </div>
    <div class="col-md-6 card border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Shopkeeper</strong>
      </div>
      <div class="card-body text-capitalize text-center">
        {{ shop.shopkeeperName }}
      </div>
    </div>
    <div class="col-md-6 card border-right-0 border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Phone</strong>
      </div>
      <div class="card-body text-center">
        {{ shop.phone.internationalNumber }}
      </div>
    </div>
    <div class="col-md-6 card border-bottom-0 p-0 mb-0">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Created At</strong>
      </div>
      <div class="card-body text-center">
        {{ shop.createdAt.toDate() | date }}
      </div>
    </div>
    <div class="col-md-12 card mb-0 border-bottom-0 justify-content-center">
      <div class="card-header border-bottom-0 text-center bg-white">
        <strong>Address</strong>
      </div>
      <div class="card-body text-capitalize text-center">
        {{ shop.address.location }}
      </div>
    </div>
  </div>
</div>
