ion-content {
  --ion-background-color: var(--ion-color-light);

  ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
