<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"MODULE_TERMS_AND_CONDITIONS_TITLE" | translate}}</ion-title>
    <ion-buttons slot="end" class="ion-margin-end">
    
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <p>{{policies}}</p>
  </ion-list>
  <!-- <p>agree with terms and condtions  <ion-checkbox slot="end">
    
  </ion-checkbox></p> -->
  
 
  
</ion-content>