
<ion-content class="ion-padding-horizontal">
  <app-language-toggle></app-language-toggle>
  <div class="ion-text-center fullheight xc">
    <div>
      <img src="/assets/img/logo.png" alt="Logo" />
    </div>

    <ion-text color="dark">
      <h3> {{"PAGE_VERIFY_EMAIL_CHECK_EMAIL" | translate}}</h3>
      <p>
        {{"PAGE_VERIFY_EMAIL_VERIFY_ACCOUNT" | translate}} <b> {{email}} </b>  {{"PAGE_VERIFY_EMAIL_VERIFY_ALERT" | translate}}
      </p>
    </ion-text>
    <app-anti-flood></app-anti-flood>
    <!-- <ion-text color="medium">
      <p><sub>{{"PAGE_VERFIY_EMAIL_EMAIL_RECEIVE" | translate}}</sub></p>
    </ion-text>
    <div *ngIf="showTimer">
      <ion-text color="medium">
        <p><sub>{{"PAGE_VERFIY_EMAIL_WAIT_RESEND" | translate}}</sub></p>
      </ion-text>
      <ion-text color="primary"><p>{{timeLeftFormated}}</p> </ion-text>
    </div>
    <ion-button *ngIf="!showTimer"
      fill="solid"
      expand="block"
      type="button"
      class="ion-margin-bottom"
      [disabled]="disableResend"
      (click)="resendEmail()"
    >
    {{"PAGE_VERFIY_EMAIL_RESEND" | translate}}
    </ion-button> -->

    <div class="ion-text-center">
      <a (click)="gotoLogin()">{{"PAGE_VERFIY_EMAIL_GOTO_LOGIN" | translate}}</a>
    </div>

    <!-- <ion-button
      fill="clear"
      type="button"
      (click)="gotoLogin()"
    >
      Go to Login
    </ion-button> -->
  </div>
</ion-content>
