ion-content {
  --ion-background-color: #f8f9fa;
}
.container {
  height: 100%;
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.language-container {
  margin-top: 20px;
}

.password-icon {
  position: relative;
  margin: 0 auto;
}
.img-text {
  width: 100%;
  height: 20%;
  margin-top: 30px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 20px;
}
.img-text img {
  max-width: 60px;
}
.img-text h2, .img-text p {
  margin: 0;
}
.img-text h2 {
  margin-top: 25px;
  font-weight: bolder;
}
.img-text p {
  margin-top: 7px;
  color: #989aa2;
}
.btns {
  height: 60%;
  width: 100%;
  vertical-align: text-bottom;
}
.btns ion-item ion-icon {
  color: black;
  padding-right: 8px;
}
.btns ion-button {
  margin-top: 20px;
}
.btns form ion-item ion-input {
  --background: transparent;
}
.btns form ion-item {
  --background: #ffffff;
  --border-width: 0;
  --border-radius: 25px;
  margin-bottom: 0;
  padding-top: 7px;
}
.btns p {
  text-align: center;
}
.btns p a {
  color: black;
  font-weight: bold;
}
.btns .forgot-link a {
  color: black;
  font-weight: bold;
}
.btns .forgot-link {
  text-align: right;
  margin-top: 8px;
}
.img-text {
  text-align: center;
  margin-bottom: 15px;
}

@media only screen and (min-width: 360px) {
  .container {
      width: 100%;
  }
  .img-text {
    text-align: center;
  }
}
@media only screen and (min-width: 640px) {
  .container {
      width: 100%;
      padding: 20px;
  }
  .img-text {
      text-align: center;
      margin-bottom: 70px;
      margin-top: 40px;
  }
  .language-container {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 900px) {
  .container {
      width: 70%;
      padding: 20px;
  }
  .img-text {
      text-align: center;
      margin-bottom: 70px;
      margin-top: 100px;
  }
  .language-container {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
      width: 60%;
      padding: 20px;
  }
  .img-text {
      text-align: center;
      margin-bottom: 70px;
      margin-top: 100px;
  }
  .language-container {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
      width: 60%;
      padding: 20px;
  }
  .img-text {
      text-align: center;
      margin-bottom: 70px;
      margin-top: 100px;
  }
  .language-container {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
      width: 60%;
      padding: 20px;
  }
  .img-text {
      text-align: center;
      margin-bottom: 70px;
      margin-top: 100px;
  }
  .language-container {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
      width: 60%;
      padding: 20px;
  }
  .img-text {
      text-align: center;
      margin-bottom: 70px;
      margin-top: 100px;
  }
  .language-container {
    margin-top: 90px;
  }
}

